In [3]:
import pandas as pd
import numpy as np

In [5]:
# Create data for 4 Pokemon trainers
data = pd.DataFrame({'Trainer': ['Ash', 'Gary', 'Bill', 'Misty'],
                     'Hometown': ['Pallet Town', 'Pallet Town', 'Lavender Town', 'Cerulean City'],
                     'Starter Pokemon': ['Pikachu', 'Squirtle', 'Clefairy', 'Staryu'],
                     'Number of Pokemon Registered': [18, 95, 146, 12]})

# Check the output
data

  Trainer       Hometown Starter Pokemon  Number of Pokemon Registered
0     Ash    Pallet Town         Pikachu                            18
1    Gary    Pallet Town        Squirtle                            95
2    Bill  Lavender Town        Clefairy                           146
3   Misty  Cerulean City          Staryu                            12

In [7]:
# Calculate how many more Pokemon each trainer needs catch to complete their Pokedex
data['To Complete Pokedex'] = data['Number of Pokemon Registered'].apply(lambda x: 151 - x)

#Check the output
data

,Trainer,Hometown,Starter Pokemon,Number of Pokemon Registered,To Complete Pokedex
0,Ash,Pallet Town,Pikachu,18,133
1,Gary,Pallet Town,Squirtle,95,56
2,Bill,Lavender Town,Clefairy,146,5
3,Misty,Cerulean City,Staryu,12,139

In [15]:
# List all cities in the region to their nearest gym
near_Pewter = ['Pewter City']
near_Cerulean = ['Cerulean City']
near_Vermillion = ['Vermillion City']
near_Celadon = ['Celadon City']
near_Fuchsia = ['Fuchsia City']
near_Saffron = ['Lavender Town', 'Saffron City']
near_Cinnabar = ['Cinnabar Island']
near_Viridian = ['Pallet Town', 'Viridian City']

# Apply a function to determine which gym city is nearest a trainer's hometown
data['Nearest Gym'] = data['Hometown'].apply(lambda x: 'Pewter City' if x in near_Pewter
                                                        else 'Cerulean City' if x in near_Cerulean
                                                        else 'Vermillion City' if x in near_Vermillion
                                                        else 'Celadon City' if x in near_Celadon
                                                        else 'Fuchsia City' if x in near_Fuchsia
                                                        else 'Saffron City' if x in near_Saffron
                                                        else 'Cinnabar Island' if x in near_Cinnabar
                                                        else 'Viridian City')

# Check the output
data

,Trainer,Hometown,Starter Pokemon,Number of Pokemon Registered,To Complete Pokedex,Nearest Gym
0,Ash,Pallet Town,Pikachu,18,133,Viridian City
1,Gary,Pallet Town,Squirtle,95,56,Viridian City
2,Bill,Lavender Town,Clefairy,146,5,Saffron City
3,Misty,Cerulean City,Staryu,12,139,Cerulean City